/* Links */

.the_content a {
    
    color: #007fac;
    text-decoration: underline;
}

.the_content a:hover {
    
    color: $secondary_color;
    text-decoration: underline;
}

/* Others */

.the_content .wp-block-latest-comments article footer.wp-block-latest-comments__comment-meta {
    
    color: #212529;
}


/* Alignments */

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Clearings */

.the_content:before,
.the_content:after {
    
    content: "";
    display: table;
    table-layout: fixed;
}

.the_content:before,
.the_content:after {
    
    clear: both;
}

/* Blocks */

.the_content a.wp-block-button__link {

    color:#fff;
}

.the_content .is-style-outline a.wp-block-button__link {

    background-color: transparent;
    border: 2px solid inherit;
    color: inherit;
}

.wp-block-button,
.wp-block-pullquote,
.wp-block-media-text {

    margin-bottom: 1.5em;
}

.has-small-font-size {

    font-size: 16px;
}

.has-medium-font-size {

    font-size: 28px;
}

.has-large-font-size {

    font-size: 32px;
}

.has-huge-font-size {

    font-size: 40px;
}

.wp-block-latest-posts__post-date,
.wp-block-latest-comments__comment-date {

    color: #6f6f6f;
}

.wp-block-latest-posts.is-grid {

    padding-left: 0;
    margin-left: 0;
}

.wp-block-categories-list.aligncenter {

    text-align: center;
}

.blocks-gallery-caption {

    width: 100%;
}

.wp-block-search,
.wp-block-gallery {

    margin-bottom: 1.5em;
}

.wp-block-cover {

    margin-bottom: 1.5em;
}


.wp-block-pullquote blockquote {
    
    border-left: none;
}

blockquote[style="text-align:right"] {
    
    border-left: none;
    border-right: 4px solid;
}